
body {
    font-family: "OpenSans-Regular",Arial,sans-serif !important;
    color: #212529;
    background-color: #fff;
}

@font-face {
    font-family: OpenSans-Regular;
    src: url( ../_fonts/opensans/OpenSans-Regular.ttf);
}

h1,h2,h3,h4,h5,h6{font-family: OpenSans-Regular !important; 

