/* CSS Document */
.card{
	display: block;
	background-color: #ff6600;
	min-height: 400px;
	width: 300px;
	color: #fff;
}

.card-img-top{
	width: 100%;
	height: 200px;
	background-color: #666;
}

.card-block{
	margin: 30px;
}